.imagem{
    width: 50%;
    height: 130px;
    border-radius: 15px;
    border: 3px solid rgb(255, 0, 0);
    cursor: pointer;
}
.ampliarEvidencia1,
.ampliarEvidencia2,
.ampliarSerial{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    transition: 1s;
    background: #ffffff62;
}

.ampliarEvidencia1 img,
.ampliarEvidencia2 img,
.ampliarSerial img{
    display: none;
    width: 100%;
    
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    transition: 1s;
}
.ampliarEvidencia1 button,
.ampliarEvidencia2 button,
.ampliarSerial button{
    color: #ff0000a8;
    width: 70px;
    height: 50px;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    right: 10%;
    cursor: pointer;

  
   
}
.ampliarEvidencia1 button:hover,
.ampliarEvidencia2 button:hover,
.ampliarSerial button:hover{
   text-shadow: 1px 1px 1px black;
   color: #ff0000;
}
.boxInf{
    display: flex;
    justify-content: space-around;
    width: 100%;
  
   
   

}
.boxSerial{
   gap: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 800px;
    height: 100%;
   
}
.acessorisBox{
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 98%;
    height: 30px;
  
}
.acessorisBox label{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type="checkbox"]{
    -webkit-appearance: none;
   background-color: red;
   border-radius: 50px;
   width: 20px;
    height: 20px;
}
input[type="checkbox"]:checked {
   background-color: green;
   
}

